---
// import { getDotfiles } from "../../data/getDotfiles";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    return [
        { params: { dotfile: "ghostty" } },
        { params: { dotfile: "nvim" } },
        { params: { dotfile: "starship.toml" } },
    ];
}

// const files = await getDotfiles();
const { dotfile } = Astro.params;
---

<Layout>
    <div>Good day, {dotfile}!</div>
</Layout>
