@import "tailwindcss";

@theme {
    --font-sans: "Bricolage Grotesque Variable", "sans-serif";
    --font-logo: "Outfit";
    --font-mono: "Geist Mono Variable", "monospace";

    --animate-cursor: cursor 1.25s linear infinite;

    @keyframes cursor {
        25% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
    }
}

@layer utilities {
    h1 {
        @apply text-4xl;
        @apply mb-4;
        position: relative;
        width: max-content;
    }
    h1::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #fff, transparent);
        transition: all 150ms ease;
    }
    h2 {
        @apply text-4xl;
        @apply mb-2;
    }
    h3 {
        @apply text-3xl;
        @apply mb-2;
    }
    h4 {
        @apply text-2xl;
        @apply mb-2;
    }
    h5 {
        @apply text-xl;
        @apply mb-2;
    }
}

:root {
    font-size: 16px;
    --bg-primary: rgb(24, 10, 53);
    --bg-elevated: rgba(255, 255, 255, 0.03);
    --ol-elevated: rgba(255, 255, 255, 0.35);
    --fg-primary: rgba(255, 255, 255, 0.8);
    --radius: 10px;
    --drop-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    --spacing: 8px;
    --backdrop-filter: blur(1px);
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
