---
import Result from "./Result.astro";
import { getDotfiles } from "../data/getDotfiles";

export interface Props {
    owner?: string;
    repo?: string;
    path?: string;
    className?: string;
}

const files = await getDotfiles();

console.log("files::", files);
---

<Result>
    {
        files
            .filter((file) => file.name !== ".gitignore")
            .map((file) => <a href={`/dotfiles/${file.name}`}>{file.name}</a>)
    }
</Result>

<style>
    a:hover {
        text-decoration: underline;
    }
</style>
