---
import StarrySky from "../components/StarrySky.astro";
import "@fontsource/poppins";
import "@fontsource/outfit";
import "@fontsource-variable/bricolage-grotesque";
import "@fontsource-variable/geist-mono";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body class="p-3">
        <StarrySky />

        <main class="bg-[#101010]/80 h-full py-1 px-2 border-1 border-white/5 rounded-md">
            <!-- <header class="flex flex-row gap-2 items-center">
                <a class="font-mono link" href="/">natlus</a>
                <a class="font-mono link" href="https://github.com/natlus">github</a>
            </header> -->
            <article class="font-mono flex items-center gap-1 py-1">
                <slot />
            </article>
        </main>
    </body>

    <style>
        .link:hover {
            text-decoration: underline;
        }
        .link::before {
            content: "/";
        }
    </style>
</html>
